nav .form-control {
    font-size: 14px;
    width: 300px !important;
}

nav .btn__search {
    padding: 0 0.75rem;
}

.text__primary {
    color: #a349a3 !important;
}

.btn__primary {
    background-color: #a349a3;
    border-color: #a349a3;
    color: white;
}

.btn__primary:hover {
    background-color: #802980;
    color: white;
}

.btn__outline__primary {
    border-color: #a349a3;
    color: #a349a3;
}

.btn__outline__primary:hover {
    background-color: #a349a3;
    color: white;
}
.cursor-pointer {
    cursor: pointer;
}
